<a href="https://colab.research.google.com/github/GustavoAdolf0/Coursera_Capstone/blob/master/car_sales_data_manufacture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating fake data for car_sales (to make it a bit bigger)

This notebook will manufacture data for the car_sales dataframe to make it usable to explain different techniques for missing data and converting things to numbers.

In [ ]:
import pandas as pd
import numpy as np

car_sales = pd.read_csv('../data/car-sales.csv')

In [ ]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
car_sales.Make.unique()

array(['Toyota', 'Honda', 'BMW', 'Nissan'], dtype=object)

In [ ]:
car_sales.Make.value_counts()

Toyota    4
Honda     3
Nissan    2
BMW       1
Name: Make, dtype: int64

## Create fake "Make" data

In [ ]:
# Create fake "Make" data

toyota = ["Toyota" for i in range(0, 393)]
len(toyota), toyota[:10]

(393,
 ['Toyota',
  'Toyota',
  'Toyota',
  'Toyota',
  'Toyota',
  'Toyota',
  'Toyota',
  'Toyota',
  'Toyota',
  'Toyota'])

In [ ]:
honda = ["Honda" for i in range(0, 304)]
len(honda), honda[:10]

(304,
 ['Honda',
  'Honda',
  'Honda',
  'Honda',
  'Honda',
  'Honda',
  'Honda',
  'Honda',
  'Honda',
  'Honda'])

In [ ]:
nissan = ["Nissan" for i in range(0, 198)]
len(nissan), nissan[:10]

(198,
 ['Nissan',
  'Nissan',
  'Nissan',
  'Nissan',
  'Nissan',
  'Nissan',
  'Nissan',
  'Nissan',
  'Nissan',
  'Nissan'])

In [ ]:
bmw = ["BMW" for i in range(0, 100)]
len(bmw), bmw[:10]

(100, ['BMW', 'BMW', 'BMW', 'BMW', 'BMW', 'BMW', 'BMW', 'BMW', 'BMW', 'BMW'])

In [ ]:
makes = bmw+nissan+toyota+honda
len(makes)

1000

## Create fake "Colour" data

In [ ]:
car_sales.Colour.unique()

array(['White', 'Red', 'Blue', 'Black', 'Green'], dtype=object)

In [ ]:
car_sales.Colour.value_counts()

White    4
Blue     3
Green    1
Black    1
Red      1
Name: Colour, dtype: int64

In [ ]:
white = ["White" for i in range(0, 407)]
len(white), white[:3]

(407, ['White', 'White', 'White'])

In [ ]:
blue = ["Blue" for i in range(0, 321)]
len(blue), blue[:3]

(321, ['Blue', 'Blue', 'Blue'])

In [ ]:
green = ["Green" for i in range(0, 79)]
len(green), green[:3]

(79, ['Green', 'Green', 'Green'])

In [ ]:
black = ["Black" for i in range(0, 99)]
len(black), black[:3]

(99, ['Black', 'Black', 'Black'])

In [ ]:
red = ["Red" for i in range(0, 94)]
len(red), red[:3]

(94, ['Red', 'Red', 'Red'])

In [ ]:
colours = white+blue+green+black+red
len(colours)

1000

In [ ]:
import random
colours_shuffled = random.sample(colours, len(colours))
len(colours_shuffled), colours_shuffled[:10]

(1000,
 ['White',
  'White',
  'Blue',
  'Blue',
  'Blue',
  'White',
  'Blue',
  'Blue',
  'Red',
  'White'])

## Create fake Odometer (KM) data

In [ ]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
odometer = [random.randint(9789, 250000) for i in range(0, 1000)]
len(odometer), odometer[:10]

(1000,
 [195419,
  69066,
  209466,
  79301,
  134103,
  143651,
  245427,
  244095,
  176660,
  194189])

## Create fake "Doors" data

In [ ]:
five_doors = [5 for i in range(0, 79)]
three_doors = [3 for i in range(0, 65)]
four_doors = [4 for i in range(0, 856)]
doors = five_doors + three_doors + four_doors
doors_shuffled = random.sample(doors, len(doors))

In [ ]:
doors_shuffled

[4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 5,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 3,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 3,
 5,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 5,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 3,
 5,
 4,
 5,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 5,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 5,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 3,
 4,
 5,
 5,
 3,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 3,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 3,
 4,
 4,
 3,
 4,
 4,
 4,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 5,
 4,
 4,
 3,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 4,
 4,
 4,
 4,
 3,
 4,
 4,
 4,
 4]

## Create fake "Price" data

In [ ]:
makes_series = pd.Series(makes)
makes_series.value_counts()

Toyota    398
Honda     304
Nissan    198
BMW       100
dtype: int64

In [ ]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
car_sales[car_sales["Make"] == "Toyota"]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
2  Toyota   Blue          32549      3  $7,000.00
5  Toyota  Green          99213      4  $4,500.00
8  Toyota  White          60000      4  $6,250.00

In [ ]:
car_sales[car_sales["Make"] == "Honda"]

    Make Colour  Odometer (KM)  Doors      Price
1  Honda    Red          87899      4  $5,000.00
6  Honda   Blue          45698      4  $7,500.00
7  Honda   Blue          54738      4  $7,000.00

In [ ]:
car_sales[car_sales["Make"] == "Nissan"]

     Make Colour  Odometer (KM)  Doors      Price
4  Nissan  White         213095      4  $3,500.00
9  Nissan  White          31600      4  $9,700.00

In [ ]:
prices = [random.randint(5000, 30000) for i in range(0, 1000)]
len(prices), prices[:30]

(1000,
 [27185,
  8815,
  23614,
  19783,
  29208,
  17251,
  10138,
  27640,
  7332,
  9946,
  29670,
  12779,
  26735,
  21481,
  9313,
  13094,
  17684,
  21389,
  5239,
  16733,
  19670,
  10542,
  11122,
  21311,
  29545,
  20601,
  22714,
  28876,
  14063,
  5491])

## Create base dataframe with manufactured data

In [ ]:
fake_sales = pd.DataFrame(columns = ["Make", "Colour", "Odometer (KM)", "Doors", "Price"])
fake_sales

Empty DataFrame
Columns: [Make, Colour, Odometer (KM), Doors, Price]
Index: []

In [ ]:
fake_sales["Make"] = makes
fake_sales["Colour"] = colours_shuffled
fake_sales["Odometer (KM)"] = odometer
fake_sales["Doors"] = doors
fake_sales["Price"] = prices

In [ ]:
fake_sales.head()

  Make Colour  Odometer (KM)  Doors  Price
0  BMW  White         195419      5  27185
1  BMW  White          69066      5   8815
2  BMW   Blue         209466      5  23614
3  BMW   Blue          79301      5  19783
4  BMW   Blue         134103      5  29208

## Adjust the price column

For the price column:
* Generate random numbers between the certain values
* If the Odometer reading is above 100K, multiply price by 0.75
* If the Odometer reading is above 150K, multiply price by 0.6
* If the Odometer reading is above 200K, multiply price by 0.5
* If the Make column is BMW, multiply price by 1.5 + 2500
* If the Make column is Toyota, multuply price by 1.2
* If the Make is Nissan, multiply price by 1.1
* If the Make is Honda, add $1000 to price

In [ ]:
fake_sales["Price"].describe()

count     1000.000000
mean     17369.943000
std       7260.398755
min       5005.000000
25%      11039.500000
50%      17427.500000
75%      23353.500000
max      29990.000000
Name: Price, dtype: float64

In [ ]:
def price_od(price, odometer):
    """
    Changes price according to Odometer values.
    """
    if 100000 <= odometer <= 150000:
        return round(price * 0.75)
    elif 150001 <= odometer <= 200000:
        return round(price * 0.6)
    elif 200001 <= odometer:
        return round(price * 0.5)
    else:
        return price

fake_sales["Price"] = fake_sales.apply(lambda x: price_od(x["Price"], 
                                                          x["Odometer (KM)"]), 
                                                          axis=1)

fake_sales["Price"].describe()

count     1000.000000
mean     13151.713000
std       6722.177036
min       2509.000000
25%       7854.750000
50%      12016.000000
75%      17082.250000
max      29990.000000
Name: Price, dtype: float64

In [ ]:
def price_make(price, make):
    """
    Manipulates the price base on the cars make.
    """
    if make == "BMW":
        return round((price * 1.5) + random.randint(3000, 10000))
    elif make == "Toyota":
        return round(price * 1.2)
    elif make == "Nissan":
        return round(price * 1.1)
    elif make == "Honda":
        return round(price + 1000)
    else:
        return price

fake_sales["Price"] = fake_sales.apply(lambda x: price_make(x["Price"], 
                                                            x["Make"]), 
                                                            axis=1)

fake_sales["Price"].describe()

count     1000.000000
mean     16045.665000
std       8630.794219
min       2796.000000
25%       9481.500000
50%      14264.000000
75%      20738.750000
max      52458.000000
Name: Price, dtype: float64

In [ ]:
fake_sales = fake_sales.sample(frac=1)

In [ ]:
fake_sales.reset_index(drop=True, inplace=True)
fake_sales.head(10)

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043
5   Honda    Red          42652      4  23883
6  Toyota   Blue         163453      4   8473
7   Honda  White          43120      4  20306
8  Nissan  White         130538      4   9374
9   Honda   Blue          51029      4  26683

# NEXT:
* Drop some values at random (to manufacture missing data)
* Build a random forest model to predict (this will involve changing categories to numerical data)

In [ ]:
# Export the data
fake_sales.to_csv("../data/car-sales-extended.csv")

## Make missing data in car_sales_extended

In [ ]:
sales_ext = pd.read_csv("../data/car-sales-extended.csv")

In [ ]:
len(sales_ext)

1000

In [ ]:
sales_ext

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

### What we want to do
* Remove some rows values or replace them at random
    * E.g. replace strings with empty strings ("")
    * And numbers with NaN or something similar...
* Want to keep the number of samples the same, order the same, just put some holes in it

One way to do it would be to generate 50 random integers for each column and then drop/replace the indicies.

In [ ]:
# Replicate the df
sales_ext_dropped = sales_ext

In [ ]:
# Make column
np.random.seed(10)
make_idx = np.random.randint(0, 1000, 50)

In [ ]:
make_idx

array([265, 125, 996, 527, 320, 369, 123, 156, 985, 733, 496, 925, 881,
         8,  73, 256, 490,  40, 502, 420, 371, 528, 356, 239, 395,  54,
       344, 363, 122, 574, 545, 200, 868, 974, 689, 691,  54,  77, 453,
        13, 755, 409, 382, 653, 860, 342, 798, 670,  89, 652])

In [ ]:
for value in make_idx:
    sales_ext_dropped.loc[value, "Make"] = ""

In [ ]:
sales_ext_dropped["Make"][266]

'Honda'

In [ ]:
# Colour column
np.random.seed(42)
colour_idx = np.random.randint(0, 1000, 50)
for value in colour_idx:
    sales_ext_dropped.loc[value, "Colour"] = ""

In [ ]:
# Odometer (KM) column
np.random.seed(1)
odom_idx = np.random.randint(0, 1000, 50)
for value in odom_idx:
    sales_ext_dropped.loc[value, "Odometer (KM)"] = None

In [ ]:
# Doors column
np.random.seed(2)
door_idx = np.random.randint(0, 1000, 50)
for value in door_idx:
    sales_ext_dropped.loc[value, "Doors"] = None

In [ ]:
# Price column
np.random.seed(3)
price_idx = np.random.randint(0, 1000, 50)
for value in price_idx:
    sales_ext_dropped.loc[value, "Price"] = None

In [ ]:
sales_ext_dropped.head(50)

      Make Colour  Odometer (KM)  Doors    Price
0    Honda  White        35431.0    4.0  15323.0
1      BMW   Blue       192714.0    5.0  19943.0
2    Honda  White        84714.0    4.0  28343.0
3   Toyota  White       154365.0    4.0  13434.0
4   Nissan   Blue       181577.0    3.0  14043.0
5    Honda    Red        42652.0    4.0  23883.0
6   Toyota   Blue       163453.0    4.0   8473.0
7    Honda  White            NaN    4.0  20306.0
8           White       130538.0    4.0   9374.0
9    Honda   Blue        51029.0    4.0  26683.0
10  Nissan  White       167421.0    4.0  16259.0
11  Nissan  Green        17119.0    4.0   6160.0
12  Nissan  White       102303.0    4.0  16909.0
13          White       134181.0    4.0  11121.0
14   Honda   Blue       199833.0    4.0  18946.0
15  Toyota   Blue       205592.0    4.0  16290.0
16  Toyota    Red        96742.0    4.0  34465.0
17     BMW  White       194189.0    5.0  17177.0
18  Nissan  White        67991.0    3.0   9109.0
19  Nissan   Blue       215820.0    4.0   6010.0
20  Toyota              124844.0    4.0  24130.0
21   Honda               30615.0    4.0  29653.0
22  Toyota  White       148744.0    4.0  22489.0
23   Honda  Green       130075.0    4.0  21242.0
24   Honda   Blue       172718.0    4.0  14274.0
25   Honda   Blue       125819.0    4.0  15686.0
26   Honda  White       180390.0    4.0  13344.0
27   Honda  Green        82783.0    4.0  10984.0
28   Honda  White        56687.0    4.0   6135.0
29  Toyota  White       112004.0    4.0  13586.0
30  Nissan   Blue        34024.0    4.0  23929.0
31  Toyota  White       108569.0    NaN   6866.0
32  Nissan  White       203795.0    4.0   9330.0
33  Nissan  Green       153554.0    3.0   9780.0
34   Honda   Blue        71949.0    4.0  17516.0
35   Honda   Blue       191622.0    4.0   8738.0
36  Nissan   Blue        38186.0    4.0  23438.0
37  Nissan  White            NaN    4.0  15131.0
38  Nissan   Blue       146430.0    3.0   9224.0
39  Toyota  Green       109868.0    4.0   6574.0
40          White       177894.0    4.0   9229.0
41  Toyota   Blue       189209.0    4.0   7100.0
42   Honda  Black       200490.0    4.0   6337.0
43  Toyota   Blue       141617.0    4.0  19085.0
44  Toyota   Blue       213893.0    4.0   5743.0
45  Nissan   Blue       231057.0    4.0   5925.0
46  Toyota  White       100938.0    4.0  25196.0
47  Toyota   Blue       243969.0    NaN  16138.0
48  Nissan  White       107096.0    3.0   6075.0
49  Toyota  Black        86333.0    4.0   9928.0

In [ ]:
# Check how many of our values are missing/NaN
sales_ext_dropped.isna().sum()

Make              0
Colour            0
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [ ]:
# Export dataframe with random missing values
sales_ext_dropped.to_csv("../data/car-sales-extended-missing-data.csv", index=False)